/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.main-nav {
  font-family: $secondary-font-family;
  font-size: 4.5vw;
  text-transform: lowercase;
  float: none !important;
  a {
    display: block;
    padding-bottom: 30px;
    text-decoration: none;
    span {
      border-bottom: 3px black solid;
    }
    &:hover {
      font-weight: bold;
    }
  }
}

.site-nav {
  z-index: 10000;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    width: 100%;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border-radius: 5px;
    text-align: center;
    font-size: 7vw;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    .trigger {
      margin: 40px 0px;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

#nav-flex {
  @include media-query($on-palm) {
    margin: 0;
    padding: 0;
    min-width: 0;
  }
}

#board-flex {
  @include media-query($on-palm) {
    width: 100%;
  }
}

.board-section {
  margin: auto;
  padding-top: 2em;
  p {
    padding: 0 20px 0 20px;
  }
  .bulletin-board {
    position: relative;
    .board-bg {
      padding-bottom: 20px;
      z-index: -9999;
    }

    .kwago-logo {
      position: absolute;
      bottom: 40px;
      right: 20px;
      height: 7vw;
    }

    .tape {
      position: absolute;
      left: 50%;
      margin-left: -(7vw/2);
      top: -5%;
      height: 7vw;
      z-index: 9999;
      @include media-query($on-palm) {
        height: 12vw;
        margin-left: -(12vw/2);
      }
    }

    .poster {
      position: absolute;
      width: 60%;
      margin-left: (50%)-(30%);
      top: 20px;
      left: 0px;
    }
  }
}

.contact-info {
  width: 50%;
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: .8em;
  .flex-child {
    margin: 0;
  }
  .flex-child:first-of-type {
    text-align: right;
    ul {
      list-style: none;
      li {
        padding: 1em;
      }
      a {
        color: #000;
      }
    }
  }
  .flex-child:last-of-type {
    border-left: 1px solid black;
    .social-media-list li  {
      display: inline-block;
    }
  }
  @include media-query($on-palm) {
    width: 100%;
    ul {
      margin-left: 0px;
    }
    .flex-child {
      padding: 0 20px 0 20px;
    }
  }
  @media screen and (max-width: 1024px ) and (min-width: 601px ) {
    width: 500px;
  }
}

.copyright-wrapper {
  width: 50%;
  text-align: center;
  font-size: .8em;
  float: right;
  @include media-query($on-palm) {
    width: 100%;
  }
  @media screen and (max-width: 1024px ) and (min-width: 601px ) {
    width: 500px;
  }
}

.foot-notes {
  margin: 40px 0 40px 0;
  font-family: $secondary-font-family;
  width: 50%;
  padding: 40px 40px 0px 25px;

  ul{
    list-style: none;
    position: relative;
    li {
      margin-bottom: 1em;
    }
  }
  sup {
    position:absolute;
    left: -18px;
  }
  @include media-query($on-palm) {
    width: inherit;
  }
}
