/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-transform: lowercase;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.main-nav,.site-nav {
  text-transform: lowercase;
}

.main-nav {
  font-family: $secondary-font-family;
  font-size: 4.5vw;
  text-transform: lowercase;
  float: none !important;
  a {
    display: block;
    padding-bottom: 30px;
    text-decoration: none;
    span {
      border-bottom: 3px black solid;
    }
    &:hover {
      font-weight: bold;
    }
  }
  .page-link {
    margin-right: 0px !important;
  }
}

.nav-logo {
  width: 40px;
  @include media-query($on-palm) {
    width: 35px;
    position: absolute;
    top:12px;
    z-index: 999999;
  }
}

header .site-nav {
  sup {display: none;}
}

.site-nav {

  z-index: 10000;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  @include media-query($on-palm) {
    sup {display: none;}
    font-family: $secondary-font-family;
    font-size: 4.5vw;
    text-transform: lowercase;
    float: none !important;
    a {
      display: block;
      padding-bottom: 30px;
      text-decoration: none;
      span {
        border-bottom: 3px black solid;
      }
      &:hover {
        font-weight: bold;
      }
    }
    position: absolute;
    top: 9px;
    width: 100%;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border-radius: 5px;
    text-align: center;
    font-size: 7vw;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    .trigger {
      margin: 40px 0px;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-image: linear-gradient(to right, black 24%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 15px 1px;
  background-repeat: repeat-x;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

#nav-flex {
  @include media-query($on-palm) {
    margin: 0;
    padding: 0;
    min-width: 0;
  }
}

#board-flex {
  @include media-query($on-palm) {
    width: 100%;
  }
}

.board-section {
  margin: auto;
  padding-top: 2em;
  p {
    padding: 0 20px 0 20px;
    @include media-query($on-palm) {
      sup {display: none;}
    }
  }
  .bulletin-board {
    position: relative;
    .board-bg {
      width: 100% !important;
      padding-bottom: 20px;
      z-index: -9999;
    }
    .bulletin-text {
      box-sizing: border-box;
      padding: 1.5em;
      font-family: $secondary-font-family;
      span {
        color: $brand-color;
        text-decoration: underline;
        padding-bottom: 10px;
        display: inline-block;
      }
      height: 14vw;
      font-size: 1vw;
      position: absolute;
      bottom: 15px;
      width: 50%;
      left: 0px;
      &:nth-of-type(2) {
        left: 50%;
      }
      @include media-query($on-palm) {
        height: 27vw;
        font-size: 1.9vw;
      }
    }
  }
}

.contact-info {
  ul {
    list-style: none;
    @include media-query($on-palm) {
      padding: 0;
      margin: 0;
    }
  }
  a {color: #000;}
  box-sizing: border-box;
  width: 100%;
  font-size: .8em;
  .flex-child {
    margin: 0;
    min-width: 0;
    @include media-query($on-palm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .flex-child:nth-of-type(2) {
    @include media-query($on-palm) {
      background-image: linear-gradient(to right, black 24%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 15px 1px;
      background-repeat: repeat-x;
      padding: $spacing-unit 0;
    }
  }
  .flex-child:nth-of-type(3) {
    @include media-query($on-palm) {
      padding-top: 30px;
    }
  }
  .flex-child:nth-of-type(3) ul > li {
    padding-bottom: 20px;

  }
  .flex-child:nth-of-type(3) ul > li:nth-of-type(2) {
    @include media-query($on-palm) {
      padding-bottom: 10px;
    }
  }
  .flex-child:last-of-type {
    flex-grow: 1;
  }
  @include media-query($on-palm) {
    flex-flow: wrap;
    text-align: center;
  }
  // @media screen and (max-width: 1024px ) and (min-width: 751px ) {
  //   width: 500px;
  // }
  .kwago-logo {
    height: 80px;
  }
}

.logo-table img{
  height: 20px;
  padding: 0 20px 20px 0;
  @include media-query($on-palm) {
    height: 25px;
    padding: 0 10px 20px 10px;
  }
}

.social-table {
  display: table;
  @include media-query($on-palm) {
    margin: auto;
  }
  .social-cell {
    padding-right: 40px;
    display: table-cell;
    @include media-query($on-palm) {
      padding: 0 40px 0px 40px;
    }
    li {
      a {color: $grey-color;}
      text-decoration: underline;
    }
  }
}

.copyright-wrapper {
  text-align: right;
  @include media-query($on-palm) {
    text-align: center;
    padding-top: 20px;
  }
}

.foot-notes {
  box-sizing: border-box;
  font-size: .7em;
  margin: 40px 0 40px 0;
  width: 100%;
  padding: 40px 40px 0px 25px;

  ul{
    list-style: none;
    position: relative;
    li {
      margin-bottom: 1em;
    }
  }
  sup {
    position:absolute;
    left: -18px;
  }
  @include media-query($on-palm) {
    display: none;
  }
}

.submit-container {
  box-sizing: border-box;
  padding: 30px;
  min-height: 500px;
  background: url("../assets/crumpled-bg.jpg") no-repeat center;
  background-size: contain;
    @include media-query($on-palm) {
      background-size: cover;
    }
  form > * {
    display: block;
    box-sizing : border-box;
  }
  input, textarea {
    font-family: $secondary-font-family;
    font-size: 2em;
    background: none;
    border: none;
    width: 100%;
    padding: 20px 0 20px 0;
  }
  input {
    border-bottom: 1px solid black;
  }
  input:focus,textarea:focus { outline: none; }
  textarea {
    min-height: 300px;
    resize: none;
  }
  button {
    cursor: pointer;
    width: 100%;
    font-family: $secondary-font-family;
    font-size: 2em;
    border: 1px solid black;
    background: none;
    padding: 10px;
    margin-top: 20px;
    margin: auto;
  }
}
